@font-face {
	font-family: Kirsty;
	src: url(./styles/fonts/kirsty.regular.ttf);
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-family: Kirsty;
	color: black;
	font-size: 10rem
}


.btnText {
	font-family: Kirsty;
	position: absolute;
	transform: translate(-50%, -8rem);
	color: white;
	font-size: 3.2rem;
	background-color: transparent
}

#searching {
	font-family: Kirsty;
	color: rgb(92, 21, 21);
	font-size: 2rem;
	margin-top: 3rem;
}

#list {
	margin-top: 2rem;
}

.listServers {

	height: 7.7rem;
	width: 30rem;
	border: 10px solid black;
	border-top-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	background-color: #ffeca9;
	overflow: auto;
}

.itemServer {
	height: 2.5rem;
	align-items: center;
	border-bottom: 0.1rem solid black;
	display: flex;
	padding-left: 2rem;
	font-family: Kirsty;
	color: black;
	font-size: 1.3rem;
}

.Selected {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.buttonReload {
	font-family: Kirsty;
	color: white;
	font-size: 1.6rem;
	display: flex;

	background-color: #9b8329;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border: 0.5rem solid #4f410d;
	filter: sepia(20%);
	transition: all 0.3s
}

.buttonReload:hover {
	border: 0.5rem solid #b39939;
	background-color: #ebe0b6;
	color: black;
}

.active {
	border: 0.5rem solid #b39939;
	background-color: #ebe0b6;
	color: black;
}

.stepscontainer {
	display: flex;
	flex-direction: row;
	width: 88%;
	flex-grow: 1;
	align-items: center;

	justify-content: space-between;
}

.stepsinfo {
	width: 50%;
	height: 100%;
	display: flex;
	flex-grow: 1;
	float: 1px;
	border: solid black 5px;
	border-radius: 2.2rem;
	background-color: rgba(0, 0, 0, 0.3);
	flex-direction: column;
	align-items: center;

}

.rightTitle {
	font-family: Kirsty;
	color: black;
	position: absolute;
	right: 2rem;
	top: 2rem;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: 'center';
	flex-direction: column
}

.stepcontent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.steptitle {
	font-family: Kirsty;
	color: black;

	font-size: 2.8rem;
	margin-top: 1.5rem;
	text-align: center;
}

.buttoncontinue {
	font-family: Kirsty;
	color: white;
	font-size: 1.6rem;
	display: flex;

	background-color: #9b8329;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border: 0.5rem solid #4f410d;
	filter: sepia(20%);
	transition: all 0.3s
}

.buttoncontinue:hover {
	border: 0.5rem solid #b39939;
	background-color: #ebe0b6;
	color: black;
}